name: Build TFS 7.4 (Windows)

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install MinGW
      uses: egor-tensin/setup-mingw@v2
      with:
        platform: x86_64

    - name: Configure Build Flags
      shell: pwsh
      run: |
        echo "CFLAGS=-std=gnu++03 -static-libgcc -static-libstdc++ -DWIN32_LEAN_AND_MEAN" >> $Env:GITHUB_ENV

    - name: Build TFS 7.4
      shell: pwsh
      run: |
        g++ -O2 `
        src/*.cpp `
        -o forgottenserver.exe `
        -lwsock32 -lws2_32 -static-libgcc -static-libstdc++

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: forgottenserver-7.4-windows
        path: forgottenserver.exe
