name: Build TFS 7.4 (Windows)

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    - name: Install MinGW
      uses: egor-tensin/setup-mingw@v2
      with:
        version: "8.1.0"
        platform: x86_64

    - name: Apply Legacy Flags
      run: |
        echo "CFLAGS=-std=gnu++03 -static-libgcc -static-libstdc++ -DWIN32_LEAN_AND_MEAN -lws2_32" >> $Env:GITHUB_ENV

    - name: Build
      run: |
        g++ -O2 ^
        -o forgottenserver.exe ^
        src/*.cpp ^
        -lwsock32 -lws2_32 -static-libgcc -static-libstdc++

    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: forgottenserver-7.4-windows
        path: forgottenserver.exe
